torch
torchvision
pyyaml
tqdm
numpy
scipy
matplotlib
pillow
thop
timm
einops
mmdet@git+https://github.com/Robolightning/mmdetection --no-build-isolation.git
mmcv@git+https://github.com/Robolightning/mmcv.git